.formLegend{
	text-align:left !important;
	font-size:16px !important;
	border-bottom:none !important;
	width:auto;
}

fieldset.scheduler-border {
	border: 1px solid #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	border-radius: 5px;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
	box-shadow:  0px 0px 0px 0px #000;
}

.input-group.forms{
	margin-bottom: 25px;
}

.panel-title.forms{
	text-align:center;
	font-size: 1.2em;
	font-weight:bold;
}

#option{
	margin-bottom:10px;
}


.loader{
	width: 60px; /* Change width and height of loader */
	height: 60px;
	border-radius: 100%;
	position: relative;
	margin: 350px auto 20px auto; /* Change margin of loader above and below */
}

.loader:before, .loader:after{
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 6px solid transparent;
	border-top-color: #3498db;
}

.loader:before{
	z-index: 100;
	animation: spin 1s infinite;
}

.loader:after{
	border: 6px solid #ccc;
}

@keyframes spin{
	0%{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100%{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.rounds{
	background-color:#b3e6ff;
	box-shadow:0px 0px 200px #005580;
	margin-top:100px;
	border-radius: 15px 50px;
}
.round-table-container .table{
	margin-bottom: 0;
	border-bottom: 1px solid #ddd;
}
.round-table-container .table>tbody>tr>td{
	line-height: 34px;
}
.round-table-container .submit-btn{
	margin-top: 15px;
}

.top-margin{
	margin-top: 25px;
}
.speedometer .timer{
	display: inline-block;
	font-size: 27px;
	vertical-align: middle;
	line-height: 44px;
	padding: 0px 88px;
	border: 1px solid #969696;
	border-radius: 5px;
}
.speedometer .timer:after{
	content:"s";
}
.speedometer .questions .question-container .radio{
	display: inline;
	margin-right: 10px;
	font-size: 19px;
	line-height: 20px;
}
.speedometer .questions .question{
	font-size: 20px;
	padding: 15px;
}
.speedometer .questions .question-container{
	padding: 0;
}
.speedometer .questions .options{
	padding: 10px 15px;
	background-color: #ececec;
}





.situation .questions .question-container .radio{
	display: inline;
	margin-right: 10px;
	font-size: 19px;
	line-height: 20px;
}
.situation .questions .question{
	font-size: 20px;
	padding: 15px;
}
.situation .questions .question-container{
	padding: 0;
}
.situation .questions .options{
	padding: 10px 15px;
	background-color: #ececec;
}

.slidecontainer{
	width: 400px;
}
.slidecontainer .slider{
	width: 65%;
}
.slidecontainer .score{
	padding: 0 19px;
	margin-left: 15px;
	border: 1px solid #8a8a8a;
	border-radius: 3px;
	font-size: 17px;
}